body {
    background-color: black;
    color: white;
}

div {
    margin-top: 40px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

img {
    width: 100%;
    border: 5px solid white;
}

h1 {
    font: 44px 'Libre Baskerville', serif;
    text-transform: uppercase;
}

p {
    font: 16px 'Libre Baskerville', serif;
}